#  13、试用 DB API

In [ ]:
# To see how the various functions in the DB-API work, take a look at this code,
# then the results that it prints when you press "Test Run".
#
# Then modify this code so that the student records are fetched in sorted order
# by student's name.
#

import sqlite3

# Fetch some student records from the database.
db = sqlite3.connect("students")
c = db.cursor()
query = "select name, id from students order by name ;" # 添加 order by name
c.execute(query)
rows = c.fetchall()

# First, what data structure did we get?
print "Row data:"
print rows

# And let's loop over it too:
print
print "Student names:"
for row in rows:
  print "  ", row[0]

db.close()

# 15、在 DB API 中插入

In [ ]:
# This code attempts to insert a new row into the database, but doesn't
# commit the insertion.  Add a commit call in the right place to make
# it work properly.
# 

import sqlite3

db = sqlite3.connect("testdb")
c = db.cursor()
c.execute("insert into balloons values ('blue', 'water') ")
db.close()

# 17、一个查询，而非两个

In [ ]:
# Find the players whose weight is less than the average.
# 
# The function below performs two database queries in order to find the right players.
# Refactor this code so that it performs only one query.
#

def lightweights(cursor):
    """Returns a list of the players in the db whose weight is less than the average."""
    cursor.execute("select avg(weight) as av from players;")
    av = cursor.fetchall()[0][0]  # first column of first (and only) row
    cursor.execute("select name, weight from players where weight < " + str(av))
    return cursor.fetchall()

# 习题集03
# 4、创建发票行

In [ ]:
##  After all the success promoting your music tour last section, 
##  a new friend has asked to partner up and build your own music website!
##  You'll need to rebuild your own database and import the data to your new system.

##  Let's first take a closer look at how to build and populate your local database.
##  The box below shows the Album table schema including Primary and Foreign Keys.
##  Have a look at this table and the CREATE TABLE statement below to see how they 
##  relate.

'''
First, disconnect from your Chinook database.
> .exit

Create a new database named whatever you'd like your store to be called.
$ sqlite3 UdaciousMusic.db

Now we can populate this database with our first table.

Here's a graphic showing some information about the Album table.
We can use this to build a table in our new database.

######################################################################
#                         Table: Album                               #
######################################################################
+--------------------+---------------+-----------------+--------------+
|      Columns       |   Data Type   |    Primary Key  |  Foreign Key |
+====================+===============+=================+==============+ 
|      AlbumId           INTEGER            YES              NO       |
|      Title             TEXT               NO               NO       |
|      ArtistId          INTEGER            NO               YES      |
|      UnitPrice         REAL               NO               NO       |
|      Quantity          INTEGER            NO               NO       |
+====================+===============+=================+==============+ 

We can use this information to decide how our schema should look.
Do you see how the schema below reflects the table above?

CREATE TABLE Album
(
    AlbumId INTEGER PRIMARY KEY,
    Title TEXT,
    ArtistId INTEGER,
    FOREIGN KEY (ArtistId) REFERENCES Artist (ArtistId) 
);

Try pasting the schema into your local database.  
Let's check to see if anything happened.

sqlite> .tables
Album <--- Do you see the Album table?  I hope so!

Now, do we have any data in our new table?

sqlite> SELECT * FROM Album;

Do you see data?  I hope not, we haven't added any yet!

Open the Album.sql tab.  You can copy and paste these lines directly into 
your sqlite terminal. (Use Ctrl+A or Command+A to select all lines when the
code editor is selected to select all the lines at once.)

Now try to run your query again.  You've got data... NICE!

'''
##  Use the previous example to help you construct the InvoiceLine table.
##  When you're ready, run you query to CREATE and populate the InvoiceLine table 
##  using data from the InvoiceLine.sql file. 

QUERY='''CREATE ...
'''

'''
######################################################################
#                         Table: InvoiceLine                         #
######################################################################
+--------------------+---------------+-----------------+--------------+
|      Columns       |   Data Type   |    Primary Key  |  Foreign Key |
+====================+===============+=================+==============+ 
|      InvoiceLineId     INTEGER            YES              NO       |
|      InvoiceId         INTEGER            NO               YES      |
|      TrackId           INTEGER            NO               YES      |
|      UnitPrice         REAL               NO               NO       |
|      Quantity          INTEGER            NO               NO       |
+====================+===============+=================+==============+ 
'''

##  These examples should help you build any remaining tables from the Chinook database.

##  Use .schema when connected to the Chinook database to see the tables and columns 
##  in your Chinook database, and try recreating them in your new database.
##  You can populate these tables using the sql files from the Downloadables section, or 
##  with CSV files, which you'll learn to do next!

#  7/DB API - 操场

In [16]:
import sqlite3
db = sqlite3.connect("chinook.db")
c = db.cursor()
QUERY = '''
SELECT count(MediaType.Name), Genre.Name
FROM Track
JOIN MediaType  ON  Track.MediaTypeId = MediaType.MediaTypeId
JOIN Genre ON Track.GenreId = Genre.GenreId
WHERE MediaType.Name = "MPEF audio file"
AND Genre.Name =" Pop";

'''
c.execute(QUERY)
rows = c.fetchall()
print rows

[(0, None)]

#  9/本地查询 - 爵士乐音轨

In [19]:
import sqlite3
db = sqlite3.connect("chinook.db")
c = db.cursor()
QUERY = '''
SELECT count(DISTINCT Email)
FROM Customer
JOIN Invoice  ON Customer.CustomerId = Invoice.CustomerId  
JOIN InvoiceLine  ON Invoice.InvoiceId = InvoiceLine.InvoiceId
JOIN Track  ON Track.TrackId = InvoiceLine.TrackId
JOIN Genre  ON Track.GenreId = Genre.GenreId
WHERE Genre.Name = "Jazz";

'''
c.execute(QUERY)
rows = c.fetchall()
print rows

[(32,)]

# 10/本地查询 - 低于平均值的歌曲长度

In [20]:
import sqlite3
db = sqlite3.connect("chinook.db")
c = db.cursor()
QUERY = '''
SELECT Genre.Name, count(Genre.Name)
FROM Track
JOIN Genre ON Track.GenreId = Genre.GenreId,
( SELECT  avg(Milliseconds) AS average
FROM Track) as subquery
WHERE Milliseconds < average
GROUP BY Genre.Name
ORDER BY COUNT(Genre.Name)
DESC LIMIT 1 ;
'''
c.execute(QUERY)
rows = c.fetchall()
print rows

[(u'Rock', 1162)]